{% extends "base.html" %}
{% block content %}
<head>
    <!-- Stylesheet -->
</head>

<h1>{{ user.username }}'s Profile</h1>

<div class="profile-container">
    <div class="profile-pic">
        <img src="{{ user.profile_picture }}" alt="Profile Picture" id="profile-pic">
    </div>
    <div class="profile-info">
        <h2 id="user-name">{{ user.username }}</h2>
        <p id="user-email">{{ user.email }}</p>
        <p id="user-bio">{{ user.bio }}</p>
    </div>
</div>

<div class="file-container">
    {% for file in bookmarked_files %}
        <div class="file-item">
            <img src="{{ file.thumbnail }}" alt="{{ file.name }} Thumbnail">
            <div class="file-info">
                {% include 'card.html' %}
        
            </div>
            <div class="file-actions">
                <div class="update-thumb" onclick="updateThumbnail({{ file.id }})">Update Thumbnail</div>
                <div class="bookmark" onclick="removeBookmark({{ file.id }})">Remove Bookmark</div>
            </div>
            <button onclick="filterFiles()">Filter</button>
        </div>
    {% endfor %}
</div>


<script>

    function filterFiles() {
        window.location.href = "{{ url_for('bookmark_file', file_id=0) }}";
    }
 

    // Function to remove the bookmark
    function removeBookmark(fileId) {
        // Add code here to remove the bookmark for the given file ID
    }

    // Modal functionality
    var modal = file.getElementById("myModal");
    var span = file.getElementsByClassName("close")[0];

    // Open modal on thumbnail click
    var thumbnails = file.getElementsByClassName("file-item");
    for (var i = 0; i < thumbnails.length; i++) {
        thumbnails[i].addEventListener("click", function () {
            modal.style.display = "block";
        });
    }

    // Close modal on close button click
    span.addEventListener("click", function () {
        modal.style.display = "none";
    });

    // Close modal when clicking outside the modal content
    window.addEventListener("click", function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });
</script>

{% endblock %}
